.search-banner {
    height: 450px;
    background-image: url('../../../images/bannerbackground.png');
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    margin: 0;
}

.search-container {
    padding: 0;
}